<div class="alert alert-warning mt-2"><u><b>Projects</b></u></div>
<div class="app-container">
  <div class="card">
    <div class="card-body">
      <p class="card-text"></p>

     <u>”Career Cloud”</u> - A cloud based job search portal developed using C#,.NET framework and SQL Server.
     <ul>
     <li>Developed a job search portal for job seekers and recruiters to connect on one platform.</li>
     <li>Designed and developed a POCOs layer for the project with the data classes built using C#.</li>
     <li>Developing interfaces and classes in the repository layer where each class uses ADO.NET to perform CRUD operations on data objects.</li>
     <li>Created and implemented a REST API service interface linking the frontend and backend systems.</li>
     </ul>
     <hr>
     <u>Webpage design and feature development with Preprlabs</u>
     <ul>
      <li>Web page and dark mode Creation- Created a web page, replicating Preprlabs website with modified UI and
      created a dark mode functionality with a toggle button for the user.
      </li>
      <li>
        Login System- Added a user credentials web page from scratch to help user to login or register into the Preprlabs website.
      </li>
      <li>
        Dashboard and Project Creation- Created a web page with a dashboard to enable project logging functionalityand provided accessibility feature enabling and disabling options for enhanced user experience.
      </li>
     </ul>
      <hr>
      <u>Design of a note taking application using C# and Windows forms</u>
      <ul>
       <li>
     Developed a note taking application using C# in .Net framework that enables users to take and maintain notes.
       </li>
      <li>
        Created template using Windows Forms and implemented various functionalities in the back end using C#.
      </li>
      </ul>
    </div>
  </div>
</div>


