<div class="alert alert-warning mt-2"><u><b>Work-experience</b></u></div>
<div class="app-container">
  <div class="card">
    <div class="card-body">
      <p class="card-text"></p>
        <u>Programmer Analyst</u>
        <ul>
          <li>
            Debugged modules, implemented data dictionary tables in SAP ABAP, and collaborated with development and testing teams to improve functionality and resolve customer issues.
          </li>
          <li>Worked on a project for the client Smith & Nephew to identify and fix the issues with invoice display with Adobe Forms and provided support during the production.
          </li>
          <li>Addressed and handled incidents, Service requests, Operational change requests, and enhancements within the targeted deadlines.
          </li>
          <li>Assisted in creating and maintaining documentation about client-specific applications, code reviews, project-specific processes, and workflows.
          </li>
          <li>Collaborated with the software development team to resolve production issues in very short timelines.
          </li>
          <li>Managed tickets, tasks, and customer change requests assigned by the team lead.
          </li>
        </ul>
    </div>
  </div>
</div>
